.container {
  max-width: 700px;
  padding: var(--space-md) var(--space-xl);
  color: var(--color-bg);
  text-align: justify;
}

.lead {
  font-size: 1.125rem;
  margin-bottom: var(--space-md);
}
